/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .lesson {
    width: 100%;
  }
  footer {
    text-align: center;
  }
  .btn {
    width: 100%;
  }
  .facebook {
    margin-bottom: 10px;
  .top-wrapper h1 {
    font-siza: 32px;
  }
  .heading h2 {
    font-siza: 20 px;
  }
  .lesson-wrapper {
    height: 580px;
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #ff0000;
    text-align: center;
  }
  .lesson {
    float: left;
    width: 25%;
  }
