body {
    font-family: Arial, sans-serif;
    background-image: url('https://i.pinimg.com/originals/a6/c4/06/a6c406bca6d4c3d1748c0f51838dc7f9.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.text {
  border: 1px solid #ccc;
  padding: 10px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}


.button {
    /* Gaya tombol */
    display: inline-block;
    padding: 10px 20px; /* Padding untuk ruang di sekitar teks tombol */
    font-size: 16px; /* Ukuran teks tombol */
    background-color: #007bff; /* Warna latar belakang tombol */
    color: #fff; /* Warna teks tombol */
    border: none; /* Hapus garis pinggir tombol */
    border-radius: 5px; /* Sudut bulat tombol */
    cursor: pointer; /* Tampilan kursor saat mengarahkan ke tombol */
}

.button:hover {
    /* Gaya saat mouse hover */
    background-color: #0056b3; /* Warna latar belakang berubah saat mouse hover */
}


#backgroundInput {
    /* color: blue; */
}
body {
        color: #e6855e;
        font-size: 30px;
        background-color:#f3f372;
        height: 80px;
        width: 200px;
      }
      img{
        height:50px;
        width:70px;
      
      }
