body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('default-background.jpg'); /* https://i.pinimg.com/originals/a6/c4/06/a6c406bca6d4c3d1748c0f51838dc7f9.jpg */
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
}

.container {
    padding: 50px;
}

.button {
    /* Gaya tombol */
}

#backgroundInput {
    /* color: blue; */
}

