body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('default-background.jpg'); /* Gambar latar belakang default */
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
}

.container {
    padding: 50px;
}

.button {
    /* Gaya tombol */
}

#backgroundInput {
    /* Gaya input untuk memilih gambar latar belakang baru */
}

